.input_form{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    background-color: #ffffff;
    padding: 18px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2.5% 5% 2.5% 5%;
}



.input_form_div_logo{
    
    position: relative;
    min-width: 20px;
    height: 20px;
    margin-right: 16px;
}

.input_form_div_prefix{

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}

.input_form_div_prefix_logo{
     
     position: relative;
     width: 20px;
     height: 20px;
}

.input{
 
    width: 100%;
    border: none;
    height: 20px;
    color: #43383e;
    font-weight: 700;
}

.input_form:first-child{

    margin: 5% 5% 2.5% 5%;
}