.input_form{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    background-color: #ffffff;
    padding: 18px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2.5% 5% 2.5% 5%;
}




.input_form_div_logo{
    
    position: relative;
    min-width: 20px;
    height: 20px;
    margin-right: 16px;
}





.input{
 
    width: 100%;
    border: none;
    height: 20px;
    color: #43383e;
    font-weight: 700;
    
}

.input_form:first-child{

    margin: 5% 5% 2.5% 5%;
}

.input_tel:last-child{

    margin: 8px 0 0 0;
}



/*input tel*/


.input_form_div_prefix{

    display: flex;
    flex-flow: row wrap;
    background-color: #ffffff;
    margin: 2.5% 5% 2.5% 5%;
    padding: 18px;
    align-items: center;
    
}

.input_form_div_logo_tel{

    position: relative;
    min-width: 20px;
    height: 20px;
    margin-right: 16px;
}


.test{

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 2px;
    color: blue;
   
}

.input_form_div_prefix_logo{

    position: relative;
    width: 35px;
    height: 35px;
    
}

.input_tel{
 
   
    border: none;
    height: 20px;
    color: #43383e;
    font-weight: 700;
    
}

.input_form_div_list_prefix_tel{

    
    overflow: auto;
    background-color: #ffffff;
    z-index: 1;
    color:  #43383e;
    text-align: center;
    font-size: 10px;
    overflow: auto;
    margin: 0 5% 0 5%;
}

.input_form_div_list_prefix_table{
  
    width: 100%;
    text-align: center;
}

.input_form_div_list_prefix_table_th_tel{

    border: 1px solid #000000;
}

.input_form_div_list_prefix_table_td{

    padding: 5px;
}


