
.header{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


.notification{

    
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 5px 5px 5px;
}


.notification_div_image{

    position: relative;
    width: 100%;
    height: 200px;
}

.notification_error{

    margin: 0 16px 16px 16px;
    font-family: cursive;
    font-weight:700;
    text-decoration: underline;
}


.notification_retry{

    margin: 0 0 16px 0;
    cursor: pointer;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    border: none;
}


.notification_retry:hover{

    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.header_div_title{

    color: #43383e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    
}

.header_title{

    margin: 32px 0 0 16px;
    font-size: 20px;

}

.header_div_form{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}

.header_form{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header_div_form_capctha{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


.required_captcha{

    width: 25px;
    height: 25px;
    position: relative;
}


#header_div_captcha{

    margin: 2.5% 5% 2.5% 5%;
}


.header_form_div_submit{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 10% 5% 5% 5%;
}




.submit{

    cursor: pointer;
    border: none;
    color: #ffffff;
    background: #c0392b;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#8e44ad), to(#c0392b));
    background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 18px;
    
}


.submit:hover{

    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.header_form_div_loading{

    
}



@media screen and (min-width: 587px){

    .header{

        -webkit-box-align: center;

            -ms-flex-align: center;

                align-items: center;
        
    }

    .header_div_form, .header_div_title{

        width: 70%;
        
    }


    .notification{

        width: 70%;
       
    }
}


@media screen and (min-width: 787px){

    .header{

        -webkit-box-align: center;

            -ms-flex-align: center;

                align-items: center;
        
    }

    .header_div_form, .header_div_title{

        width: 50%;
        
    }

    .notification{

        width: 50%;
       
    }
}


@media screen and (min-width: 1187px){

    .header{

        -webkit-box-align: center;

            -ms-flex-align: center;

                align-items: center;
        
    }

    

    .header_div_form, .header_div_title{

        width: 40%;
        
    }


    .notification{

        width: 40%;
       
    }
}